<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ratefy</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Admin</property>
        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>

        <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
            Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mapping -->
        <mapping resource="listener.xml" class="logik.Listener"/>
        <mapping resource="song.xml" class="logik.Song" />
        <mapping resource="genre.xml" class="logik.Genre" />
        <mapping resource="artist.xml" class="logik.Artist" />
        <mapping resource="artist_song.xml" class="logik.artist_song" />
        <mapping resource="genre_song.xml" class="logik.genre_song" />
        <mapping resource="listener_song.xml" class="logik.listener_song" />
        <mapping resource="listener_votes_song.xml" class="logik.listener_votes_song" />
    </session-factory>
</hibernate-configuration>